body {
    background-color: #00c006;
      /* background:radial-gradient(ellipse at center, rgba(255,254,234,1) 20%, rgba(255,254,234,1) 25%, #B7E8EB 100%); */
      overflow-x: hidden;
  }

  a {
      text-decoration: none;
  }




  .main {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .login-card {
      /* border: none;
      outline: none; */
      /* box-shadow: 5px 5px 10px rgb(45, 45, 45); */
      background-color: rgb(255, 255, 255) !important;
      /* opacity: 0.3; */
      width: 450px;
      height: 500;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 15px !important;
  }

  .error-message {
      /* margin-bottom: 20px; */
      color: rgb(236, 58, 58);
      font-size: 15px;
  }
  .text-head{
    width: 290px;
  }

  .textfield {
      width: 290px;
      height: 50px;
      border-radius: 5px;
      border: 1px solid black;
      padding: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .inputs input {
    width: 40px;
    height: 40px
}.input-field input {
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
  }
  .input-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
  display: none;
}
  .button {
      width: 290px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .form-body form {
      width: 290px;
  }

  .form-body input[type="text"],
  input[type="password"],
  input[type="email"] {
      outline: none;
      border: none;
      width: 88%;
      height: 100%;
  }

  .btn-custom {
      display: block;
      width: 50%;
      height: 50px;
      border-radius: 50px;
      outline: none;
      border: none;
      background-image: linear-gradient(to right, #00c006, #29cb00, #3ec902);
      background-size: 200%;
      font-size: 1.2rem;
      color: #fff;
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;
      /* margin: 1rem 0; */
      cursor: pointer;
      transition: ease 1s;
  }

  .btn-custom:hover {
      background-position: right;
  }

  .textfield i:hover {
      cursor: pointer;
  }