* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: #fff;
}

.image-container {
    /* display: none; */
    position: relative;
}
.li a{
    color: ghostwhite;
    text-decoration: none;
}

.image-caption {
    position: absolute;
    width: 500px;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    /* font-size: 30px; */
}

.text-head {
    color: #AE946A;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.4%;
    /* 38.29px */
    letter-spacing: 7.175px;
    text-transform: uppercase;
}

.text-des {
    color: rgb(187, 187, 187);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 144.9%;
    /* 36.225px */
    letter-spacing: 1.25px;
}

.explore-button {
    border-style: none;
    width: 161px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 104px;
    background: linear-gradient(347deg, #646464 -37.61%, rgba(98, 98, 98, 0.34) 227.5%);
}

/* Your existing CSS code */

@media (max-width: 768px) {
    /* Adjustments for smaller screens */
    #myNav {
      display: none;
    }
  
    .links.show {
      /* display: block; */
    }
    .navbar-brand {
      margin-right: auto;
    }
  
    .navbar-toggler {
      display: block;
    }
  
    .collapse.navbar-collapse {
      display: none;
      flex-basis: 100%;
    }
    .form{
      display: none;
    }
  
    .navbar-nav {
      flex-direction: column;
      text-align: center;
      margin-top: 10px;
    }
  
    .navbar-nav .nav-item {
      margin-bottom: 10px;
    }
  
    .collapse.navbar-collapse.show {
      display: flex;
    }
  
    .form {
      margin-top: 10px;
    }
  
    .right {
      margin-top: 10px;
    }
  }
  