<nav class="navb navbar navbar-expand-lg">

    <a class="navbar-brand" href="/home"><img src="user/images/logo-white.png" id="logo"></a>
      <ul class="links list-unstyled">
        <li class="li"><a href="/#">Home</a></li>
        <li class="li"><a href="/#">About us</a></li>
        <li class="li"><a href="/#">Shop</a></li>
        <li class="li"><a href="/#">Contact Us</a></li>
        <li class="li"><a href="/#">my Account</a></li>
        </ul>
      <form class="form my-2 my-lg-0">
        <input class="form-control searchinput" type="search" placeholder="Search" aria-label="Search">
        <button class="searchbutton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      <div class="right">
        <a href="/cart"><i class="fa-sharp fa-solid fa-cart-shopping fa-xl" style="color: #e1e1e1;"></i></a>
        <a href="/wishlist"><i class="fa-solid fa-heart-circle-plus fa-xl" style="color: #e2e2e2;"></i></a>
      </div>
  </nav>