<nav class="navb navbar navbar-expand-lg d-flex justify-content-between fixed-top" >

  <a class="navbar-brand" href="/home"><img src="/user/images/logo-white.png" id="logo"></a>
  <div class="links">
  <ul class=" overlay-content" id="myNav">
    <a class="close-button" onclick="closeNav()">&times;</a>
    <a href="/"><li class="li">Home</li></a>
    <a href="/#"><li class="li">About us</li></a>
    <a href="/user/toProduct-list"><li class="li">Shop</li></a>
    <a href="/#"><li class="li">Contact Us</li></a>
    <a href="/tologin"><li class="li">login</li></a>
  </ul>

  </div>
<span class="navbar-span" style="font-size:30px;cursor:pointer;color: #ffffff;" onclick="openNav()">&#9776;</span>
  <div class="right">

    <ul class="profile-dropdown">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown" role="button"
   data-bs-toggle="dropdown" aria-expanded="false">
   <i class="fa-solid fa-user" style="color: #ffffff;"></i>
</a>
        <ul class="dropdown-menu" style="left: -130px;" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/user/account">Profile</a></li>
          <li><a class="dropdown-item" href="/user/account">Settings</a></li>
          <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
          <li><a class="dropdown-item" href="/wishlist">wishlist</a></li>
          <li><a class="dropdown-item" href="/user/cart">cart</a></li>
        </ul>
      </li>
    </ul>
</div>
</nav>