<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="grid">
            <div class="error">
                  <span>404
                   error
                  </span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing 
              elit  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua<br/>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
              ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud 
             exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <button>more</button>
         </div>
          <div class="img">
               <img src="https://drive.google.com/uc?export=view&id=1GRb9IdgxcaSaTmJ9wGXSWtwhAvDQn5qG">
         </div>
      </div>
</body>
</html>