<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter New Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <style>
        /* Additional custom styles */
        .center-div {
            height: 100vh;
        }
    </style>
</head>

<body>
    <!-- Include your navigation bar here if needed -->

    <div class="main container-fluid center-div d-flex align-items-center justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8 col-10">
            <div class="card login-card p-2">
            <div class="text-center mb-4 mt-5">
                <h1 class="h3">Enter New Password</h1>
            </div>
            <form id="password-form">
                <div class="textfield mt-3">
                    <input type="password" name="password" id="password" placeholder="enter new password">
                    <input type="checkbox" id="showPassword" class="checkbox" />
                </div>
                <div class="error-message" id="passwordError"></div>
                <div class="textfield mt-3">
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="confirm pasword">
                    <input type="checkbox" id="showConfirmPassword" class="checkbox" />
                </div>
                <div class="error-message" id="passwordError"></div>
                <div class="button mb-3 mt-3">
                    <button type="submit" class="btn-custom">Confirm</button>
                </div>
            </form>
            </div>
        </div>
    </div>
    <style>
        /* wave animation */
        html,
        body {
            width: 100%;
            height: 100%;
        }

        body {
            background-color: #f0f0f0;
            /* background:radial-gradient(ellipse at center, rgba(255,254,234,1) 20%, rgba(255,254,234,1) 25%, #B7E8EB 100%); */
            overflow: hidden;
        }

        a {
            text-decoration: none;
        }

        h4 {
            color: #444BEF;
        }



        .main {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-card {
            /* border: none;
            outline: none; */
            /* box-shadow: 5px 5px 10px rgb(45, 45, 45); */
            background-color: rgb(255, 255, 255) !important;
            /* opacity: 0.3; */
            width: 450px;
            height: 500;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 15px !important;
        }

        .error-message {
            /* margin-bottom: 20px; */
            color: rgb(236, 58, 58);
            font-size: 15px;
            width: 290px;
        }

        .textfield {
            width: 290px;
            height: 35px;
            border-radius: 5px;
            border: 1px solid black;
            padding: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .button {
            width: 290px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-body form {
            width: 290px;
        }

        .form-body input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="text"]{
            outline: none;
            border: none;
            width: 88%;
            height: 100%;
        }

        .btn-custom {
            display: block;
            width: 50%;
            height: 50px;
            border-radius: 50px;
            outline: none;
            border: none;
            background-image: linear-gradient(to right, #00c006, #29cb00, #3ec902);
            background-size: 200%;
            font-size: 1.2rem;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            text-transform: uppercase;
            /* margin: 1rem 0; */
            cursor: pointer;
            transition: ease 1s;
        }

        .btn-custom:hover {
            background-position: right;
        }

        .textfield i:hover {
            cursor: pointer;
        }
    </style>

    <script>
 document.addEventListener('DOMContentLoaded', function () {
        const passwordForm = document.getElementById('password-form');
        const passwordInput = document.getElementById('password');
        const confirmPasswordInput = document.getElementById('confirmPassword');
        const passwordError = document.getElementById('passwordError');
        const showPasswordCheckbox = document.getElementById("showPassword");
        const showConfirmPasswordCheckbox = document.getElementById("showConfirmPassword");
        
        passwordForm.addEventListener("submit", function (event) {
          event.preventDefault()
         //resetting previous error message
        //    passwordError.innerHTML = "";
          passwordError.textContent = "";
          const passwordValue = passwordInput.value.trim()
          const confirmPasswordValue = confirmPasswordInput.value.trim();

          //validate password input
          
          if (!isStrongPassword(passwordValue)) {
                passwordError.innerHTML = "password must be strong (e.g., at least 8 characters, including upper and lower case letters, numbers, and special characters)"
              event.preventDefault()
            } else {
                passwordError.textContent = ""  
            }
            if (confirmPasswordValue === "") {
                passwordError.textContent = "Confirm Password field can't be empty";
                return
            }
            if (passwordValue === "") {
                passwordError.textContent = "password field can't be empty"
                return
            }
            if (passwordValue !== confirmPasswordValue) {
                passwordError.textContent = "Passwords do not match";
                return
            }
            const formbody={
                password:passwordValue,
            }
            console.log(formbody);
            fetch('/user/new-pass', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formbody),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.href = "/tologin";
                } else {
                    document.getElementById("error-message").textContent = data.error;
                }
            })
            .catch(error => {
                alert(error)
            })
            function isStrongPassword(password) {
                //criteria for a strong password
                const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
                return regex.test(password);
              }
        })
        showPasswordCheckbox.addEventListener("change", function () {
        passwordInput.type = showPasswordCheckbox.checked ? "text" : "password";
      });
        showConfirmPasswordCheckbox.addEventListener("change", function () {
        confirmPasswordInput.type = showConfirmPasswordCheckbox.checked ? "text" : "password";
      });
      });

    </script>
</body>

</html>
