<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>otp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/user/css/otp.css">

</head>

<body>
  <%-include("../partials/unAuthorisedNavbar.ejs")%>
    <div class="container height-100 d-flex justify-content-center align-items-center">
        <div class="position-relative">
            <div class="card p-2 text-center">
                <%if(err){ %>
                    <h1>OTP dooes not match</h1>
                <%}else{%>    
                <h6>Please enter the one time password <br> to verify your account</h6>
                <div> <span>A code has been sent to</span> <small></small> </div>
                <%}%>
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                    <input class="m-2 text-center form-control rounded" type="text" pattern="\d" id="first"
                        maxlength="1">
                    <input class="m-2 text-center form-control rounded" type="text" pattern="\d" id="second"
                        maxlength="1">
                    <input class="m-2 text-center form-control rounded" type="text" pattern="\d" id="third"
                        maxlength="1">
                    <input class="m-2 text-center form-control rounded" type="text" pattern="\d" id="fourth"
                        maxlength="1">
                    <input class="m-2 text-center form-control rounded" type="text" pattern="\d" id="fifth"
                        maxlength="1">
                    <input class="m-2 text-center form-control rounded" type="text" pattern="\d" id="sixth"
                        maxlength="1">
                </div>
                <div class="mt-4"> <button class="btn btn-danger px-4 validate" id="validateButton">Validate</button>
                </div>
            </div>
            <div class="card-2">
                <div class="content d-flex justify-content-center align-items-center"> <span>Didn't get the code</span>
                    <a href="/user/resend-otp" class="text-decoration-none ms-3" id="resend-otp">Resend otp</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    // Wait for the DOM to be fully loaded
    document.addEventListener('DOMContentLoaded', function () {
        // Get references to the input fields
        const inputs = document.querySelectorAll(".inputs input");
        console.log(inputs)
        // Get a reference to the "Validate" button
        const validateButton = document.getElementById('validateButton');

        // Add a click event listener to the "Validate" button5
        validateButton.addEventListener('click',function () {
            // Extract the input values
            // alert('d')
            const otp = Array.from(inputs).map(input => input.value).join('');
            console.log(otp);
            const formBody={
                otp:otp
            }
            // Make an HTTP request to send the OTP to the backend
            fetch('/user/otp', {

                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formBody),
            })
                .then(response => {  console.log(response); return response.json(); })
                .then(data => {
                    // Handle the response from the backend (if needed)
                    if(data.status){
                        location.href="/user/home"
                    }
                    alert(data)
                })
                .catch(error => {
                    console.log("------------------------");
                    console.error('Error sending OTP:', error);
                });
        });
    });
</script>


</html>